<style>

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 50px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.light{
    -webkit-text-stroke: 2px white;
}

.headerbar{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color:white; background-color:green; 
  height:50px;
}

#btnbar{
  background-color: white;
  border-color: grey;
  border: 5px 5px;
  border-style: 2px;
}

.active, .btn:hover {
  background-color: green;
  color: white;
}


.glyphicon1{
  background-color: green;
  font-size: 25px;
}

#left-icon{
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 5px;
}

#left{
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 5px;
}

#header-text{
  display: flex;
  justify-content: center;
}
#right-icon{
  font-size: 40px;
  padding-top: 3px;
  padding-bottom: 5px; 
  float: right;
}

#checkbox{
  padding-left: 10px;
}
#trow{
  padding-top: 40px;
  font-size: 20px;
}
#greena{
  background-color:white; 
  color: black;
  padding-top: 15px;
}
#add_task{
  width: 350px;
}
.centered{
  display: flex;
  justify-content: center;
}
#display{
  padding-top: 10px;
  padding-bottom: 10px;
}
#file-input{
  padding-top: 10px;
  padding-bottom: 10px;
}
#preview{
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#preview img{
  width: 50px;
  height:50px;
  padding:5px;
}
.tdisplay{
  padding-left: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
span{
  padding-left: 10px;
  padding-right: 5px;
}
.border{
  border-bottom: 2px green;
}
#bar{
  padding-bottom: : 20px;
}
.clear_all{
  color: red;
  padding-right: 10px
  padding-bottom: 10px;
}
.padtask{
  padding-left: 10px;
}
</style>
